/***** Ajout des fonts *****/
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

/***** Général *****/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', sans-serif;
    color: #000;
    background: #fff;
}

h1 {
    display: none;
}

/* p:not(.copyright){
    font-family: 'Poppins';
} */

#main-menu, #footer-menu, .title-infos, .txt-infos, .title-suggestions  {
    text-transform: uppercase;
}

#main-menu ul, #footer-menu ul, span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a {
    color: inherit;
}

/***** Header *****/
#main-menu {
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
    font-size: 2.75em;
}

#main-menu ul {
    background: #E00000;
    color: #fff;
}

.logo {
    width: 138px;
}

/***** Modale *****/
.popup-overlay {
    position: fixed; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
}

.popup-overlay.visible {
    display: flex;
}

.popup-contact {
    background: white;
    max-width: 286px;
    position: relative;
    border: 5px solid #000;
    padding: 18px 0 24px;
}

.popup-header {
    width: 100%;
    overflow: hidden;
}

.popup-img {
    width: 459px;
    height: 55px;
    margin: 0 -86px 14px -87px;
}

.popup-details {
    width: 190px;
    margin: 0 auto;
    object-fit: contain;
}

.wpcf7-text, .wpcf7-textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}

.wpcf7-text {
    height: 40px;
    margin-bottom: 14px;
}

.wpcf7-textarea {
    height: 149px;
    margin-bottom: 19px;
}

.wpcf7-submit {
    width: 100%;
    height: 50px;
    border: transparent;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

form label {
    font-family: 'Poppins';
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
    gap: 4px;
}

/***** Single-photo *****/
.photo-container, .contact-ref, .suggestions {
    margin: auto;
    max-width: 80vw;
}

.page-photo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.photo-contenu {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 41px 0;
}

.bloc-photo {
    width: 100%;
    height: 100%;
}

.bloc-photo img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.bloc-infos {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

.title-infos {
    font-size: 2.875em;
    font-style: italic;
    width: 60%;
    line-height: 1em;
}

.contact-container {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 24px 0 23px 0;
}

.interested {
    font-family: 'Poppins';
    font-size: 0.875em;
}

#contact-ref {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: 1px solid transparent;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    font-family: 'Space Mono';
    font-size: 0.75em;
    margin-top: 15px;
}

.navigationPhoto {
    display: none;
}

.suggestions {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

/***** Photo_block *****/


/***** Hero *****/
.hero {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero_title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    z-index: 1;
}

/***** Footer *****/
#footer-menu {
    border-top: 1px solid #000;
    font-size: 1em;
    padding: 44px 0;
}

#menu-footer li {
    padding-bottom: 24px;
}



/********** Media queries **********/
@media screen and (min-width: 768px) {
    /***** Header *****/
    #main-menu {
        font-size: 1em;
        height: 80px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        width: 80%;
        margin: auto;
    }

    #main-menu ul, #footer-menu ul, .copyright {
        flex-direction: row;
        gap: 45px;
        align-items: center;
    }

    #main-menu ul {
        background: #fff;
        color: #000;
    }

    .logo {
        width: 216px;
    }

    /***** Modale *****/
    .popup-contact {
        max-width: 597px;
        padding: 18px 0 36px;
    }

    .popup-details {
        width: 263px;
    }

    .popup-img {
        width: 886px;
        height: 106px;
        margin: 0 -147px 45.95px -141px;
    }

    .wpcf7-textarea {
        height: 210px;
    }

    .wpcf7-text {
        margin-bottom: 24px;
    }

    /***** Single-photo *****/
    .page-photo, .photo-container {
        width: 100vw; 
    }

    .photo-contenu .bloc-photo {
        object-fit: cover; 
        width: 50%;
        height: 100%;
        position: relative;
    }
    
    .photo-contenu {
        display: flex; 
        flex-direction: row-reverse; 
        align-items: flex-end; 
        justify-content: space-between;  
        width: 100%; 
        position: relative;
        padding: 0; 
    }
    
    .bloc-photo img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    
    .bloc-infos {
        width: 50%;
        text-align: left;
        border-bottom: solid black 1px;
        padding-bottom: 37px;
        margin-right: 21px;
    }
    
    .title-infos {
        font-size: 4.125em; 
    }
    
    .contact-container {
        border-top: none;
        border-bottom: 1px solid #000;
        max-width: 80vw;
        display: flex;
        margin: auto;
    }

    .contact-ref {
        display: flex;
        width: 50vw;
        align-items: center;
        justify-content: space-between;
    }
    
    #contact-ref {
        width: 272px;
        margin-top: 0;
    }

    .navigationPhoto, .arrowNav {
        display: flex;
        align-items: flex-end;
        height: 118px;
    }
    
    .navigationPhoto {
        width: 50vw;
        flex-direction: column;
    }

    .arrowNav {
        position: relative;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 81px;
    }

    #miniaturePhoto {
        width: 81px;
        height: 71px;
        background-size: cover;
    }
    
    .suggestions {
        padding: 24px 0;
    }

    /***** Hero *****/
    .hero {
        height: 900px;
    }
    
    .hero_title {
        font-size: 96px;
    }

    /***** Footer *****/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid black;
        height: 40px;
        gap: 45px;
    }

    #footer-menu ul, span {
        display: flex;
        flex-direction: inherit;
    }
}

@media screen and (min-width: 430px) {
    
}